<!-- TopCart Modal - Theme App Extension -->
<div id="topcart-drawer" class="topcart-drawer" style="display: none;">

  <div class="drawer-header">
    <h2 class="drawer-header-title">{{ block.settings.cart_title | default: 'CART' }}</h2>
    <button type="button" class="close-drawer-btn" aria-label="Close cart">
      <svg width="24" height="24" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M19 17.61L46.12 44.74M19 44.74L46.12 17.61" stroke="currentColor" stroke-width="5"
          stroke-linecap="round" />
      </svg>
    </button>
  </div>

  <div class="header-separator"></div>

  <!-- Info Carousel -->
  <div class="info-carousel">
    <h3>{{ block.settings.carousel_message_1 | default: 'Free Size Exchange If it Doesn\'t Fit!' }}</h3>
    <h3>{{ block.settings.carousel_message_2 | default: '30-Day Money Back Guarantee!' }}</h3>
    <h3>{{ block.settings.carousel_message_3 | default: 'Enjoy Free Shipping on All Orders!' }}</h3>
  </div>

  <!-- Progress Bar -->
  <div class="progress-bar-div">
    <h3 class="progress-bar-title">
      <span id="progress-message">
        {% if block.settings.free_shipping_threshold %}
        Spend $<span id="remaining-amount">{{ block.settings.free_shipping_threshold }}</span> more for free shipping!
        {% else %}
        Congrats! You are now eligible for <span>Free Shipping!</span>
        {% endif %}
      </span>
    </h3>

    <div class="progress-bar-container">
      <div class="progress-bar-fill" id="progress-fill"></div>

      <div class="progress-marker-gift">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="28" height="28">
          <path
            d="M190.5 68.8L225.3 128l-1.3 0-72 0c-22.1 0-40-17.9-40-40s17.9-40 40-40l2.2 0c14.9 0 28.8 7.9 36.3 20.8zM64 88c0 14.4 3.5 28 9.6 40L32 128c-17.7 0-32 14.3-32 32l0 64c0 17.7 14.3 32 32 32l448 0c17.7 0 32-14.3 32-32l0-64c0-17.7-14.3-32-32-32l-41.6 0c6.1-12 9.6-25.6 9.6-40c0-48.6-39.4-88-88-88l-2.2 0c-31.9 0-61.5 16.9-77.7 44.4L256 85.5l-24.1-41C215.7 16.9 186.1 0 154.2 0L152 0C103.4 0 64 39.4 64 88zm336 0c0 22.1-17.9 40-40 40l-72 0-1.3 0 34.8-59.2C329.1 55.9 342.9 48 357.8 48l2.2 0c22.1 0 40 17.9 40 40zM32 288l0 176c0 26.5 21.5 48 48 48l144 0 0-224L32 288zM288 512l144 0c26.5 0 48-21.5 48-48l0-176-192 0 0 224z" />
        </svg>
      </div>
      <div class="progress-marker-discount">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="28" height="28">
          <path
            d="M345 39.1L472.8 168.4c52.4 53 52.4 138.2 0 191.2L360.8 472.9c-9.3 9.4-24.5 9.5-33.9 .2s-9.5-24.5-.2-33.9L438.6 325.9c33.9-34.3 33.9-89.4 0-123.7L310.9 72.9c-9.3-9.4-9.2-24.6 .2-33.9s24.6-9.2 33.9 .2zM0 229.5L0 80C0 53.5 21.5 32 48 32l149.5 0c17 0 33.3 6.7 45.3 18.7l168 168c25 25 25 65.5 0 90.5L277.3 442.7c-25 25-65.5 25-90.5 0l-168-168C6.7 262.7 0 246.5 0 229.5zM144 144a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z" />
        </svg>
      </div>
      <div class="progress-marker-shipping">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" width="35" height="35">
          <path
            d="M112 0C85.5 0 64 21.5 64 48l0 48L16 96c-8.8 0-16 7.2-16 16s7.2 16 16 16l48 0 208 0c8.8 0 16 7.2 16 16s-7.2 16-16 16L64 160l-16 0c-8.8 0-16 7.2-16 16s7.2 16 16 16l16 0 176 0c8.8 0 16 7.2 16 16s-7.2 16-16 16L64 224l-48 0c-8.8 0-16 7.2-16 16s7.2 16 16 16l48 0 144 0c8.8 0 16 7.2 16 16s-7.2 16-16 16L64 288l0 128c0 53 43 96 96 96s96-43 96-96l128 0c0 53 43 96 96 96s96-43 96-96l32 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l0-64 0-32 0-18.7c0-17-6.7-33.3-18.7-45.3L512 114.7c-12-12-28.3-18.7-45.3-18.7L416 96l0-48c0-26.5-21.5-48-48-48L112 0zM544 237.3l0 18.7-128 0 0-96 50.7 0L544 237.3zM160 368a48 48 0 1 1 0 96 48 48 0 1 1 0-96zm272 48a48 48 0 1 1 96 0 48 48 0 1 1 -96 0z" />
        </svg>
      </div>
    </div>
  </div>

  <div class="drawer-body">

    <!-- Cart Items Container - Populated by JavaScript -->
    <div id="cart-items-wrapper" class="drawer-products-wrapper">
      <div id="cart-empty-state" class="cart-empty-state" style="display: none;">
        <h3>Your cart is empty</h3>
        <p>Add some products to get started!</p>
      </div>
      <!-- Cart items will be dynamically inserted here -->
    </div>

    <!-- Upsells Section -->
    {% if block.settings.enable_upsells %}
    <div class="drawer-upsells-div">
      <h3 class="upsells-div-title">{{ block.settings.upsells_title | default: 'COMPLETE THE LOOK FOR 70% OFF!' }}</h3>
      <div id="upsells-wrapper" class="drawer-upsells-wrapper">
        <!-- Upsells will be dynamically populated -->
      </div>
    </div>
    {% endif %}

    <!-- Shipping Protection & Cart Note -->
    <div id="shipping-protection" class="shipping-protection-and-cart-note-div">

      {% if block.settings.enable_shipping_protection %}
      <label class="toggle-wrapper">
        <input type="checkbox" class="toggle-checkbox" id="shipping-protection-toggle" checked>
        <div class="toggle-switch">
          <span class="toggle-icon">
            <div class="icon-check">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path
                  d="M 20.292969 5.2929688 L 9 16.585938 L 4.7070312 12.292969 L 3.2929688 13.707031 L 9 19.414062 L 21.707031 6.7070312 L 20.292969 5.2929688 z">
              </svg>
            </div>
            <div class="icon-cross">
              <svg viewBox="0 0 64 64" width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19 17.61L46.12 44.74M19 44.74L46.12 17.61" stroke="currentColor" stroke-width="5"
                  stroke-linecap="round" />
              </svg>
            </div>
          </span>
        </div>
        <div class="toggle-text">
          <span class="shipping-protection-applied">SHIPPING PROTECTION</span>
          <span class="shipping-protection-notapplied">NO SHIPPING PROTECTION</span>
        </div>
      </label>
      {% endif %}

      {% if block.settings.enable_cart_notes %}
      <div class="cart-note">
        <button type="button" id="cart-note-btn">
          <svg class="blank-note-icon" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 448 512">
            <path
              d="M64 80c-8.8 0-16 7.2-16 16l0 320c0 8.8 7.2 16 16 16l224 0 0-80c0-17.7 14.3-32 32-32l80 0 0-224c0-8.8-7.2-16-16-16L64 80zM288 480L64 480c-35.3 0-64-28.7-64-64L0 96C0 60.7 28.7 32 64 32l320 0c35.3 0 64 28.7 64 64l0 224 0 5.5c0 17-6.7 33.3-18.7 45.3l-90.5 90.5c-12 12-28.3 18.7-45.3 18.7l-5.5 0z" />
          </svg>
          <span class="blank-note-text">Leave a Note</span>

          <svg class="added-note-icon" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 448 512"
            style="display: none;">
            <path
              d="M64 32C28.7 32 0 60.7 0 96L0 416c0 35.3 28.7 64 64 64l224 0 0-112c0-26.5 21.5-48 48-48l112 0 0-224c0-35.3-28.7-64-64-64L64 32zM448 352l-45.3 0L336 352c-8.8 0-16 7.2-16 16l0 66.7 0 45.3 32-32 64-64 32-32z" />
          </svg>
          <span class="added-note-text" style="display: none;">Note Added</span>
          <svg class="added-note-check" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
            style="display: none;">
            <path
              d="M 20.292969 5.2929688 L 9 16.585938 L 4.7070312 12.292969 L 3.2929688 13.707031 L 9 19.414062 L 21.707031 6.7070312 L 20.292969 5.2929688 z">
          </svg>
        </button>
      </div>
      {% endif %}

    </div>

  </div>

  <div class="drawer-footer">

    <div class="footer-totals">
      <!-- Subtotal -->
      <div id="subtotal-div" class="footer-total">
        <h5 class="subtotal-label">SUBTOTAL</h5>
        <h5 id="cart-subtotal" class="subtotal-value">{{ cart.total_price | money }}</h5>
      </div>

      <!-- Discount -->
      <div id="discount-div" class="footer-total" style="display: none;">
        <h5 class="discount-total-label">DISCOUNT</h5>
        <h5 id="cart-discount" class="discount-total-value">-</h5>
      </div>

      <!-- Total -->
      <div id="total-div" class="footer-total">
        <h5 class="total-label">TOTAL</h5>
        <h5 id="cart-total" class="total-value">{{ cart.total_price | money }}</h5>
      </div>
    </div>

    <!-- Checkout Button -->
    <div class="footer-checkout-btn-div">
      <button type="button" class="footer-checkout-btn" id="checkout-btn">
        <h5>{{ block.settings.checkout_button_text | default: 'CHECKOUT' }}</h5>
      </button>
    </div>
  </div>

</div>

<div id="topcart-overlay" class="topcart-drawer-overlay"></div>

{% schema %}
{
"name": "TopCart Modal",
"target": "body",
"stylesheet": "cart-modal.css",
"javascript": "cart-modal.js",
"settings": [
{
"type": "header",
"content": "Cart Modal Settings"
},
{
"type": "text",
"id": "cart_title",
"label": "Cart Title",
"default": "CART"
},
{
"type": "select",
"id": "modal_position",
"label": "Modal Position",
"options": [
{ "value": "right", "label": "Slide from Right" },
{ "value": "left", "label": "Slide from Left" },
{ "value": "center", "label": "Center Popup" }
],
"default": "right"
},
{
"type": "header",
"content": "Info Carousel"
},
{
"type": "text",
"id": "carousel_message_1",
"label": "Carousel Message 1",
"default": "Free Size Exchange If it Doesn't Fit!"
},
{
"type": "text",
"id": "carousel_message_2",
"label": "Carousel Message 2",
"default": "30-Day Money Back Guarantee!"
},
{
"type": "text",
"id": "carousel_message_3",
"label": "Carousel Message 3",
"default": "Enjoy Free Shipping on All Orders!"
},
{
"type": "header",
"content": "Progress Bar"
},
{
"type": "number",
"id": "free_shipping_threshold",
"label": "Free Shipping Threshold",
"default": 75,
"info": "Amount needed for free shipping (leave empty to disable)"
},
{
"type": "header",
"content": "Features"
},
{
"type": "checkbox",
"id": "enable_upsells",
"label": "Enable Upsells",
"default": true
},
{
"type": "text",
"id": "upsells_title",
"label": "Upsells Section Title",
"default": "COMPLETE THE LOOK FOR 70% OFF!"
},
{
"type": "checkbox",
"id": "enable_shipping_protection",
"label": "Enable Shipping Protection",
"default": true
},
{
"type": "number",
"id": "shipping_protection_price",
"label": "Shipping Protection Price",
"default": 299,
"info": "Price in cents (299 = $2.99)"
},
{
"type": "checkbox",
"id": "enable_cart_notes",
"label": "Enable Cart Notes",
"default": true
},
{
"type": "text",
"id": "checkout_button_text",
"label": "Checkout Button Text",
"default": "CHECKOUT"
},
{
"type": "header",
"content": "Styling"
},
{
"type": "color",
"id": "background_color",
"label": "Background Color",
"default": "#ffffff"
},
{
"type": "color",
"id": "text_color",
"label": "Text Color",
"default": "#000000"
},
{
"type": "color",
"id": "accent_color",
"label": "Accent Color",
"default": "#000000"
}
]
}
{% endschema %}